body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: .9em;
  background: #808080;
}

a {
  color: #808080;
  text-decoration: none;
}

a:hover {
  opacity: .7;
}


.App {
  width: 560px;
  margin: 0 auto;
  border: 1px solid #666;
  box-sizing: border-box;
  padding: 10px;
  background: #fff;
}

.query {
  display: flex;
  justify-content: space-around;
}

.query > select {
  min-width: 50px;
}

.submitButton {
  width: 100%;
  margin-top: 10px;
}

.MemberInfo {
  border-bottom: 2px solid #808080;
  margin: 10px;
  padding: 10px 0; 
}

.memberName {
  font-weight: 600;
  font-size: 1.1em;
}

.heading {
  font-weight: 600;
  margin: 10px 0;
  color: #666;
}

.subheading {
  font-weight: 500;
  margin: 5px;
  margin-top: 10px;
  font-style: italic;
}

.seeMoreBtns {
  /* display: flex;
  justify-content: space-around; */
}

.seeMoreBtns > button {
  width: 100%;
}