body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  width: 560px;
  margin: 0 auto;
  border: 1px solid blue;
  box-sizing: border-box;
  padding: 10px;
}

.MemberInfo {
  border-bottom: 2px solid black;
  margin: 10px;
  
  /* display: flex;
  justify-content: space-between; */
}

